.dot {
  transition-duration: var(--frame);
  transition-timing-function: linear;
  transition-property: top, left;
  --col: grey;
  --size: 50%;
}

.dot[data-col='red'], .goal.red {
  --col: #d64e4e;
}

.dot[data-col='green'], .goal.green {
  --col: #79d64e;
}

.dot[data-col='blue'], .goal.blue {
  --col: #4e7bd6;
}

.dot[data-col='yellow'], .goal.yellow {
  --col: #dfd926;
}

.dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(var(--size) * -0.5);
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background: var(--col);
}

.dot.accel {
  transition-timing-function: ease-in;
}

.dot.bounce {
  animation: calc(var(--frame) * 3) cubic-bezier(0.66, -5.0, 0.5, 1) dot-bounce;
}

.dot.appear {
  animation: var(--frame) ease dot-appear;
}

.dot.disappear {
  --sequence: 0;
  animation: calc(var(--frame) * 1.5) ease-in dot-disappear;
  animation-delay: calc(var(--sequence) * 0.05s);
}

@keyframes dot-appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dot-disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes dot-bounce {
  0% {
    transform: translate(var(--bouncex), var(--bouncey));
  }

  100% {
    transform: translate(0, 0);
  }
}
